.homepage header {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.homepage header > * {
    padding-bottom: 10px;
    border-bottom: 0;       
}

#menu a {
    text-decoration: none;
}

#menu {
    margin-bottom: 20px;
}


@media (min-width: 800px) {
    .homepage header {
        flex-direction: row;
    }
 }

.homepage header > * {
    flex: 1 1 0;
}

